<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.xm.mapper.OrdersLineMapper" >
  <resultMap id="BaseResultMap" type="com.zking.xm.model.OrdersLine" >
    <constructor >
      <idArg column="odd_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="odd_order_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="odd_prod_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="odd_count" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="odd_unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="odd_price" jdbcType="REAL" javaType="java.lang.Float" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    odd_id, odd_order_id, odd_prod_id, odd_count, odd_unit, odd_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orders_line
    where odd_id = #{oddId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orders_line
    where odd_id = #{oddId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.xm.model.OrdersLine" >
    insert into orders_line (odd_id, odd_order_id, odd_prod_id, 
      odd_count, odd_unit, odd_price
      )
    values (#{oddId,jdbcType=BIGINT}, #{oddOrderId,jdbcType=BIGINT}, #{oddProdId,jdbcType=BIGINT}, 
      #{oddCount,jdbcType=BIGINT}, #{oddUnit,jdbcType=VARCHAR}, #{oddPrice,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.xm.model.OrdersLine" >
    insert into orders_line
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oddId != null" >
        odd_id,
      </if>
      <if test="oddOrderId != null" >
        odd_order_id,
      </if>
      <if test="oddProdId != null" >
        odd_prod_id,
      </if>
      <if test="oddCount != null" >
        odd_count,
      </if>
      <if test="oddUnit != null" >
        odd_unit,
      </if>
      <if test="oddPrice != null" >
        odd_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oddId != null" >
        #{oddId,jdbcType=BIGINT},
      </if>
      <if test="oddOrderId != null" >
        #{oddOrderId,jdbcType=BIGINT},
      </if>
      <if test="oddProdId != null" >
        #{oddProdId,jdbcType=BIGINT},
      </if>
      <if test="oddCount != null" >
        #{oddCount,jdbcType=BIGINT},
      </if>
      <if test="oddUnit != null" >
        #{oddUnit,jdbcType=VARCHAR},
      </if>
      <if test="oddPrice != null" >
        #{oddPrice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.xm.model.OrdersLine" >
    update orders_line
    <set >
      <if test="oddOrderId != null" >
        odd_order_id = #{oddOrderId,jdbcType=BIGINT},
      </if>
      <if test="oddProdId != null" >
        odd_prod_id = #{oddProdId,jdbcType=BIGINT},
      </if>
      <if test="oddCount != null" >
        odd_count = #{oddCount,jdbcType=BIGINT},
      </if>
      <if test="oddUnit != null" >
        odd_unit = #{oddUnit,jdbcType=VARCHAR},
      </if>
      <if test="oddPrice != null" >
        odd_price = #{oddPrice,jdbcType=REAL},
      </if>
    </set>
    where odd_id = #{oddId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.xm.model.OrdersLine" >
    update orders_line
    set odd_order_id = #{oddOrderId,jdbcType=BIGINT},
      odd_prod_id = #{oddProdId,jdbcType=BIGINT},
      odd_count = #{oddCount,jdbcType=BIGINT},
      odd_unit = #{oddUnit,jdbcType=VARCHAR},
      odd_price = #{oddPrice,jdbcType=REAL}
    where odd_id = #{oddId,jdbcType=BIGINT}
  </update>
</mapper>